<div>
	<h3>Photo {{ctrl.indexCourant+1}}/{{ctrl.element.images.length}}</h3>
	<div style="display:flex; justify-content:center; flex-wrap:wrap;">
		<div ng-if="$index == ctrl.indexCourant" ng-repeat="image in ctrl.element.images track by $index">
			<span class="test" style="width:800px; height:600px;">
				<img ng-src="conf/full/{{image.filename}}" style="max-width:100%; max-height:100%; margin:auto;" />
			</span>
			<div ng-bind-html="image.description" style="width:800px;"></div>
		</div>
	</div>
	<div style="text-align: center;">
		<span style="cursor:pointer" ng-click="ctrl.previous()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Précédente</span>
		<span style="cursor:pointer" ng-click="ctrl.next()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Suivante</span>
	</div>
</div>