<div class="container">
	<div class="panel panel-default" style="margin-top:10px;">
		<div class="panel-body">
			Par dates :
				<span style="cursor:pointer" class="btn btn-primary btn-default" ng-click="main.filtreDate = null">Aucune (Choisir une date)</span>
				<span ng-repeat="date in main.dates" style="cursor:pointer; margin-left: 5px;" class="btn btn-primary btn-default" ng-click="main.filtreDate = date.string">{{date.obj.getDate()}}/{{date.obj.getMonth()+1}}/{{date.obj.getYear()}}</span>
		</div>
	</div>
	<div ng-if="main.filtreDate == null">
		<div class="panel panel-default" style="margin-top:10px;">
			<div class="panel-body">
				<p style="margin-top:5px;">Aucune date sélectionnée</p>
			</div>
		</div>
	</div>
	<div ng-if="main.filtreDate != null && main.filtreDate == element.date" ng-repeat="element in main.elements">
		<div class="panel panel-default" style="margin-top:10px;">
			<div class="panel-heading">
				<span style="float:right">{{element.date}}</span>
				<h3 class="panel-title">
					{{element.title}}
				</h3>
			</div>
			<div class="panel-body">
				<div style="display:flex; justify-content:center; flex-wrap:wrap;">
					<span class="test" ng-repeat="media in element.medias track by $index" ng-click="main.showimages(element, $index);">
						<img ng-if="media.type == 'image'" ng-src="conf/mini/{{media.filename}}" title="{{image.description}}" alt="{{image.description}}" style="max-width:200px; max-height:200px;margin:auto" />
						<img ng-if="media.type == 'video'" ng-src="assets/images/play.gif" style="max-width:200px; max-height:200px;margin-left:46px;margin-top:46px;position:absolute;z-index:2;" />
						<img ng-if="media.type == 'video'" ng-src="conf/mini/{{media.poster}}" title="{{image.description}}" alt="{{image.description}}" style="max-width:200px; max-height:200px;margin:auto;z-index:1;" />
					</span>
				</div>
				<p style="margin-top:5px;" ng-bind-html="element.text"></p>
			</div>
		</div>
	</div>

</div>
